.noteMask {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(-180deg, #5252846b, rgba(22, 22, 22, 0.42));
  //   background: rgba(0, 0, 0, 0.5);
  /*background:hsla(0,100%,80%,0.5)*/
  /*background:#000; opacity:0.5; */
}

.pannel-body {
  .description {
    word-break: break-all;
    font-size: 1rem;
    margin: 20px 30px;
  }

  .title {
    color: #2474b5;
    text-decoration: none;
    transition: 0.3s;
  }
}

.note_container {
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 768px) {
    width: 800px;
  }
  @media (min-width: 992px) {
    width: 900px;
  }
  @media (min-width: 1200px) {
    width: 1200px;
  }
}

.card-shadow {
  transition: 1s all;
  &:hover {
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    box-shadow: 0 1rem 2rem 0 rgba(48, 55, 66, 0.15) !important;
    -webkit-box-shadow: 0 1rem 2rem 0 rgba(48, 55, 66, 0.15) !important;
    -moz-box-shadow: 0 1rem 2rem 0 rgba(48, 55, 66, 0.15) !important;
  }
  //   .image-hover {
  //     overflow: hidden;
  //     transition: 1s all;
  //     &:hover {
  //       transform: scale(1.05, 1.05);
  //     }
  //   }
}

.pagination {
  color: #adabac;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 2px;
  padding: 60px 0;
  text-align: center;
  text-transform: uppercase;
  .inner {
    max-width: 800px;
    margin: 0 auto;
  }
}

.pagination a:after,
.pagination a:before {
  transition: 0.3s;
}

.arrow-left:before {
  transform: translateY(-7px) rotate(-45deg);
}

.arrow-left:after {
  transform: translateY(7px) rotate(45deg);
}

.arrow-right:before {
  transform: translateY(-7px) rotate(45deg);
}

.arrow-right:after {
  transform: translateY(7px) rotate(-45deg);
}

.pagination {
  color: #adabac;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 2px;
  padding: 60px 0;
  text-align: center;
  text-transform: uppercase;
}

.pagination .inner {
  position: relative;
}

.page-number {
  display: inline-block;
  padding: 6px 30px;
}

.newer-posts,
.older-posts {
  height: 30px;
  margin-top: -15px;
  position: absolute;
  top: 50%;
  width: 30px;
}

.newer-posts {
  left: 30px;
}

.older-posts {
  right: 30px;
}

.pagination a:after,
.pagination a:before {
  transition: 0.3s;
}

.pagination a:hover:after,
.pagination a:hover:before {
  background-color: #34495e;
}

.arrow-down:after,
.arrow-down:before,
.arrow-left:after,
.arrow-left:before,
.arrow-right:after,
.arrow-right:before,
.arrow-up:after,
.arrow-up:before {
  background-color: #adabac;
  content: '';
  height: 2px;
  left: 50%;
  margin-left: -11px;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  width: 22px;
}
