.img-title {
  text-align: center;
  font-size: 85%;
  // padding-top: 16px;
  color: #5a5a5a;
}

.itag {
  font-size: 86%;
  top: -1.5px;
  position: relative;

  left: -6px;
}
// 文章详情页样式
blockquote {
  margin: 1.5em 0;
  padding: 0.8em 1em;
  color: #6c6a6a;
  border-left: 7px solid #ffe564;
  background-color: #fff7d0;
  line-height: 25px;

  p {
    margin: unset !important;
    padding-left: 5px;
    @media (max-width: 36em) {
      padding-left: 15px;
    }
  }
}

h1 {
  font-size: 1.6em !important;
  font-weight: 700 !important;
  // word-break: break-word;
}

@media (max-width: 768px) {
  pre {
    margin: 0.85rem -1.5rem !important;
  }
}

.v-application code {
  background-color: #f8f8f8;
  color: #673ab7;
  padding: 0.5em;
}
.hljs {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  // max-height: 35rem;
  line-height: 1.7;
  font-size: 0.9em;
  margin-right: 0;
  font-weight: 200;
  @media (max-width: 36em) {
    font-size: 10px;
  }

  &-comment,
  &-quote {
    color: #548a37 !important;
    font-style: normal;
  }
  //伪元素的点击事件

  #language {
    position: absolute;
    right: 25px;
    bottom: 5px;
    color: rgba(158, 158, 158, 0.50196);
    font-family: cursive;
  }

  #copy {
    position: absolute;
    right: 15px;

    &::after {
      color: hsla(0, 0%, 62%, 0.50196);
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 14px;
      content: '\f0c5';
      display: inline-block;
      position: absolute;
      opacity: 0;
      padding-top: 4px;
      right: 14px;
      cursor: pointer;

      transition: 1s;
    }
  }
  &:hover {
    #copy {
      &::after {
        transition: 1s;
        opacity: 1;
      }
    }
  }

  ul {
    margin: 10px 0;
    padding: 5px 0;
    // max-height: 500px;

    li {
      list-style: none;

      padding: 5px 0px !important;
      cursor: text;
      line-height: 14px;
      font-size: 14px;
      /// 小屏幕缩小字体
      @media (max-width: 36em) {
        font-size: 10px;
        padding: 4px 0px !important;
      }
    }
    li:nth-of-type(2n) {
      background-color: rgba(255, 255, 255, 0.015);
    }
  }
}

.article {
  line-height: 2.1rem;
  letter-spacing: 1px;

  blockquote ul li {
    margin-left: 40px;
    color: #3f51b5;
    padding: 3px 0;
  }
  ul li {
    padding: 0px 0px 15px 0;
  }
  ol li {
    padding: 0px 0px 5px 0;
  }
  li {
    cursor: text;
    list-style: unset;
    margin-left: 20px;
    code {
      font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
      color: #673ab7;
      font-weight: 600;
      padding: 0.25rem 0.5rem;
      margin: 0 1.5px;
      font-size: 0.9em;
      background-color: rgba(27, 31, 35, 0.05);
      border-radius: 3px;
    }
  }

  a {
    // display: inline-block;
    position: relative;
    text-decoration: none;
    color: #2196f3;

    &:hover {
      --stroke: #275efe;
      --stroke-delay: 0.1s;
      --offset: 180px;
      color: #9e9e9e;
    }
    svg {
      width: 68px;
      height: 40px;
      position: absolute;
      left: 50%;
      bottom: -1px;
      transform: translate(-50%, 7px) translateZ(0);
      fill: none;
      stroke: #bbc1e1;
      stroke: var(--stroke, #bbc1e1);
      stroke-linecap: round;
      stroke-width: 2px;
      stroke-dasharray: 69px 278px;
      stroke-dasharray: var(--offset, 69px) 278px;
      stroke-dashoffset: 416px;
      transition: stroke 0.25s ease 0s, stroke-dasharray 0.35s;
      transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
    }
    // &:hover {
    // }
  }
  h1 {
    margin: 1em 0px 1em;
    text-align: left;
  }
  p {
    margin-bottom: 16px;
    font-size: 16px;
    color: #2b3044;
  }
  h3 {
    // margin-top: 1.618em;
    // margin-bottom: 1.018em;
    margin: 40px 0 1.2em;
    border-left: 4px solid #1abc9c;
    padding-left: 8px;
    font-weight: 600;
  }
  h4,
  h5,
  h6 {
    margin-top: 1.618em;
    padding-bottom: 0.618em;
    margin-bottom: 0.3em;
  }
  h2 {
    font-family: inherit;
    // margin-top: 1.618em;
    // margin-bottom: 0.3em;
    padding-bottom: 0.618em;
    font-weight: 600;
    margin: 45px 0 0.8em;
    border-bottom: 1px solid #e9ecef;
  }
  img {
    max-width: 100%;
    justify-content: center;

    display: flex;
    margin: 16px auto;
    // border: 3px solid #f8f8f8;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  }
  video {
    width: 100%;
    justify-content: center;

    display: flex;
    margin: 1.667em auto;
    // border: 3px solid #f8f8f8;
  }
  pre {
    margin: 15px 0;
    position: relative;
  }
}

.medium-zoom-overlay {
  z-index: 100;
}
.medium-zoom-image {
  z-index: 999 !important;
}

p,
.hljs {
  code {
    font-family: EB Garamond, 'Noto Serif SC', Consolas, Liberation Mono, Menlo, Courier, monospace !important;
    color: #673ab7;
    font-weight: 600;
    padding: 0.25rem 0.5rem;
    margin: 0 1.5px;
    font-size: 0.9em;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
  }

  @keyframes hideIndex {
    0% {
      opacity: 0;
      transform: translate(0, 100px);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}

// 表格样式
.article table {
  *border-collapse: collapse; /* IE7 and lower */
  border-spacing: 0;
  width: 90%;
  margin: 20px auto;
  border-top: 2px solid black;
  text-align: left;
  border-bottom: 2px solid black;
}

.article table tr:hover {
  background: #fbf8e9;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.article table td,
.article .table th {
  // border-left: 1px solid #ccc;
  // border-top: 1px solid #ccc;

  text-overflow: hidden;
  padding: 3px;
  padding-left: 10px;
}

.article table th {
  // background-color: #dce9f9;
  border-bottom: 1px solid black;
  border-top: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  padding-left: 10px;
}

.article table td:first-child,
.article table th:first-child {
  border-left: none;
}

// 评论模块 展开模块
details {
  // background-color: #3b3b3b;
  margin-top: -3em;
}

.replyBody {
  border-left: 4px solid #009688;
}

#comment {
  pre {
    margin-bottom: 15px;
  }
  p {
    img {
      width: 100%;
    }
  }
}

// 锚点样式
h1:hover,
h2:hover,
h3:hover,
h4:hover {
  .header-anchor {
    color: $color-primary;

    opacity: 1;

    text-decoration: none;

    transition: all 0.5s;
  }
}

.header-anchor {
  position: absolute;

  transform: translate(50%);

  opacity: 0;

  bottom: 2px;

  text-decoration: none;

  transition: all 1s;
}

hr {
  /*透明渐变水平线*/
  width: 80%;
  margin: 3em auto;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.postMask {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(-180deg, #525461, rgba(0, 0, 0, 0.5));
  /*background:hsla(0,100%,80%,0.5)*/
  /*background:#000; opacity:0.5; */
}

.post-navigation {
  background-color: #101012;
  border-bottom: 1px solid rgba(90, 90, 90, 0.3);
  overflow: hidden;
}

.nav-bg {
  bottom: 0;
  left: 0;
  opacity: 0.3;
  position: relative;
  right: 0;
  top: 0;
  transform: scale(1, 1);
  transition: transform 1s;
}

.nav-inside {
  bottom: 30px;
  left: 30px;
  overflow: hidden;
  position: absolute;
  right: 30px;
  top: 90px;
}

.nav-previous {
  float: left;
  text-align: left;
}

.post-navigation a:hover .nav-bg {
  transform: scale(1.05, 1.05);
}

.nav-next .nav-previous {
  box-sizing: border-box;
  color: #fff;
  display: block;
  overflow: hidden;
  // padding-bottom: 345px;
  position: relative;
  // width: 50%;
}
.nav-before {
  color: #fff;
  display: block;
  font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  position: relative;
}

.nav-title {
  color: #fff;
  display: block;
  font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.33333;
  margin-bottom: 5px;
}

.nav-date {
  color: #adabac;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.screen-reader-text {
  border: 0 none;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}
