// 文章详情页样式
blockquote {
  margin: 1.5em 0;
  padding: 0.8em 1em;
  color: #6c6a6a;
  border-left: 7px solid #ffe564;
  background-color: #fff7d0;
  line-height: 25px;

  p {
    margin: unset !important;
    padding-left: 5px;
    @media (max-width: 36em) {
      padding-left: 15px;
    }
  }
}

.article li {
  cursor: text;
  list-style: unset;
  margin-left: 20px;
}

h1 {
  font-size: 1.8em !important;
  font-weight: 700 !important;
  word-break: break-word;
}

.hljs {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;

  max-height: 35rem;
  line-height: 1.7;
  // background-color: #f6f6f6 !important;
  overflow: auto;
  display: grid !important;
  border-radius: 5px;

  font-size: 0.9em;
  background: #282c34;
  margin-right: 0;

  font-weight: 200;

  color: #e9e9e9 !important;

  padding: 0.5em 0 !important;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.7);
  &-comment,
  &-quote {
    color: #548a37 !important;
    font-style: normal;
  }
  //伪元素的点击事件

  #copy {
    position: absolute;
    right: 15px;

    &::after {
      color: white;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 14px;
      content: '\f0c5';
      display: inline-block;
      position: absolute;
      opacity: 0.3;
      padding-top: 4px;
      right: 14px;
      cursor: pointer;

      transition: 1s;
    }
  }
  &:hover {
    #copy {
      &::after {
        transition: 1s;
        opacity: 1;
      }
    }
  }

  ul {
    margin: 0;
    padding-left: 2.5em;
    max-height: 500px;

    li {
      list-style: decimal;

      padding: 5px !important;
      cursor: text;
      line-height: 14px;
      font-size: 14px;
    }
    li:nth-of-type(2n) {
      background-color: rgba(255, 255, 255, 0.015);
    }
  }
}

// h2 {
//   counter-increment: section;

//   &:before {
//     content: counter(section, bengali) ' ';
//   }
// }

.article {
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.618em;
    padding-bottom: 0.618em;
    margin-bottom: 0.3em;
  }
  h2 {
    font-family: inherit;
    margin-top: 1.618em;
    padding-bottom: 0.618em;
    margin-bottom: 0.3em;

    border-bottom: 1px solid #e9ecef;
  }
  img {
    max-width: 100%;
    justify-content: center;

    display: flex;
    margin: 1.667em auto;
  }
  pre {
    margin: 15px 0;
    position: relative;
  }
}

.article {
  a {
    text-decoration: none;
    color: #009a61;
  }
  p {
    margin-bottom: 16px;
    font-size: 15px;
    code {
      color: #c7254e;
      padding: 0.065em 0.4em;
      font-size: 14px;
      margin: 0 1px;
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
}

nav .active {
  color: #1abc9c;
  text-decoration: none;
  background-color: rgba(26, 186, 154, 0.05);

  &::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 27px;
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#04c0c6),
      color-stop(51%, #2ba3de),
      to(#835be3)
    );
    background-image: linear-gradient(0deg, #04c0c6, #2ba3de 51%, #835be3);
  }
  a {
    color: #1abc9c;

    &::before {
      content: '#2 ';
    }
  }
}

nav li {
  a {
    display: block;
    padding: 0.25em 1.75rem;
    font-size: 14px;
    color: #212529;
    transition: all 0.25s ease 0ms;

    &:hover {
      padding-left: 10px;
      color: #1abc9c;
      text-decoration: none;

      background-color: rgba(26, 186, 154, 0.05);
      // border-left: 2px solid #1abc9c;
    }
  }
}
.toc-h3 {
  // display: none;
  &:hover {
    padding-left: 2em;
  }
  padding-left: 3.5em;
  color: #868686a3;
}
.active .toc-h3 {
  &::before {
    content: '#3';
  }
}

// 表格样式
.article table {
  *border-collapse: collapse; /* IE7 and lower */
  border-spacing: 0;
  width: 100%;
  margin: 16px 0;
}
.article table {
  border: solid #ccc 1px;
}
.article table tr:hover {
  background: #fbf8e9;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.article table td,
.article .table th {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.article table th {
  background-color: #dce9f9;

  border-top: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  padding: 5px;
}

.article table td:first-child,
.article table th:first-child {
  border-left: none;
}

details {
  background-color: #3b3b3b;
  margin-top: -3em;
}

#comment {
  pre {
    margin-bottom: 15px;
  }
  p {
    img {
      width: 100%;
    }
  }
}

// 锚点样式

h2:hover,
h3:hover,
h4:hover {
  .header-anchor {
    color: $color-primary;

    opacity: 1;

    text-decoration: none;

    transition: all 0.5s;
  }
}

.header-anchor {
  position: absolute;

  transform: translate(50%);

  opacity: 0;

  text-decoration: none;

  transition: all 1s;
}

hr {
  /*透明渐变水平线*/
  width: 80%;
  margin: 3em auto;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
