#doc-toc.nav li {
  padding: 2px 0;
  max-width: 200px;

  // display: none;
  a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    display: block !important;
    color: #9e9e9e;
    &.toc-h1 {
      font-size: 16px;
    }
    &.toc-h2 {
      padding-left: 15px;
      font-size: 15px;
    }
    &.toc-h3 {
      padding-left: 30px;
      font-size: 14px;
    }
  }
  &.active {
    a {
      transition: all 0.25s ease 0ms;
      color: #ff9800;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.sidebar {
  right: 35px;
  z-index: 20;
  max-width: 250px;
  position: absolute;
  top: 350px;
  height: 80%;
  overflow: scroll;
  font: 400 13.3333px Arial;
  &::-webkit-scrollbar {
    width: 0px;
  }
  transition: 0.5s;
  &:hover {
    &::-webkit-scrollbar {
      width: 3px;
    }
  }
}
#toc .title-active {
  color: #1bbc8c !important;
}

#toc a {
  color: #9e9e9e;

  padding: 2px 0;
}
