// colors
$colors: (
  'primary': #009a61,
  'green': #2ba346,
  'light-green': #ebf5f3,
  'green-1': #f0f5f3,
  'white': #fff,
  'light': #e9ecef,
  'info': #fcf8e3,
  'blue': #4394e4,
  'blue-1': #0052cc,
  'darkblue': #275380,
  'orange': #ff5f57,
  'red': #ea2845,
  'black': #333,
  'yellow': #f8e71b,
  'yellow-1': #f5a429,
  'dark': #222,
  'gray': #999,
  'dark-1': #343440,
  'gray-1': #6c757d,
  'light-1': #f6f6f6,
  'border': #eee
);

$fonts: (
  songti: EB Garamond + ',' + Noto Serif SC,
  code: 'Source Code Pro'
);

$color-red: map-get($colors, 'orange');
$color-primary: map-get($colors, 'primary');

$border-color: map-get($colors, 'border');
// font size 的工具类
$base-font-size: 1rem;
$font-sizes: (
  xxs: 0.6154,
  xs: 0.7692,
  //10px  插件设置里将基础的字体改为上面html中设置的13px，这样就
    xm: 0.875,
  sm: 0.9231,
  //12px 保证了整个页面只有一个基础的px大小
    md: 1,
  //13px
    lg: 1.0769,
  // 14px
    xl: 1.2308,
  // 16px
    xll: 1.5,
  ll: 2
);

$base-line-height: 1rem;
$line-height: (
  1: 1,
  2: 1.5,
  3: 2,
  4: 2.5,
  5: 3,
  6: 3.5,
  7: 4
);

// justify-content
$flex-jc: (
  start: flex-end,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around
);

// align-items
$flex-ai: (
  start: flex-end,
  end: flex-end,
  center: center,
  stretch: stretch,
  baseline: baseline
);

// 常用边距
// 0-5六个等级
// .mt-1 => margin top .pb-2 => pading-bottom
$spacing-types: (
  m: margin,
  p: padding
);
$spacing-directions: (
  t: top,
  r: right,
  b: bottom,
  l: left
);
$spacing-base-size: 1rem;
$spacing-sizes: (
  0: 0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 1.5,
  5: 3,
  6: 4.5,
  7: 6
);

$opacitys: (
  20: 0.2,
  40: 0.4,
  60: 0.6,
  80: 0.8,
  100: 1
);
