@import './variables';
// reset
// 防止自己撑大
* {
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: #fdf1f2;
  --color-heart: #ea442b;
  --easing: cubic-bezier(0.7, 0, 0.3, 1);
  --duration: 0.5s;
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

//重置图标大小？
.svg-inline--fa {
  width: auto !important;
}

//界面防抖
html,
body {
  // height: 100%;
  font-family: Helvetica Neue, NotoSansHans-Regular, AvenirNext-Regular, arial,
    Hiragino Sans GB, Microsoft Yahei, WenQuanYi Micro Hei, Arial, Helvetica,
    sans-serif;
  -webkit-text-size-adjust: none;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  transition: 0.2s;
  margin-right: calc(100% - 100vw);
  overflow-x: hidden;
  box-sizing: border-box;
  flex-wrap: wrap;
  word-break: break-all;
  :focus {
    outline: none;
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

::-webkit-scrollbar {
  width: 6px;

  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #d5d5d5;
  border-radius: 1em;
}

// #app {
//   margin-right: calc(100% - 100vw);
// }

li {
  list-style-type: none;
  cursor: pointer;
}

//布局
.container {
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
    .favicon {
      object-fit: contain;
      &:hover {
        &::before {
          content: '';
          background: url(../static/tip.png) no-repeat;
          position: absolute;
          top: 98%;
          right: 4%;
          width: 160px;
          z-index: 1;
          height: inherit;
          background-size: contain;
        }
      }
    }
  }
  @media (min-width: 1200px) {
    width: 1140px;
  }
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}

.col-33 {
  flex: 0 0 33.3%;
  max-width: 33.3%;
}

.col-50 {
  flex: 0 0 50%;
  max-width: 50%;
}

@media (max-width: 768px) {
  .sq-leftside-link {
    justify-content: space-around;
  }

  .visible-xs {
    display: block !important;
  }

  .xs {
    display: none !important;
  }
  .xs-flex-1 {
    flex: 1;
  }
  .xs-flex-wrap {
    flex-wrap: wrap;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .visible-sm {
    display: block !important;
  }
}

@media (max-width: 992px) {
  .xm {
    display: none;
  }
  .xm-flex-wrap {
    flex-wrap: wrap;
  }
  .visible-md {
    display: block !important;
  }
}

@media (max-width: 1200px) {
  .md {
    display: none !important;
  }
}

code {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 13.3px;
}

.el-avatar > img {
  object-fit: cover;
  width: 100%;
}

// 透明度
.opacity25 {
  opacity: 0.25;
}

@each $opacitykey, $opacity in $opacitys {
  .opacity#{$opacitykey} {
    opacity: $opacity;
  }
}
.relative {
  position: relative;
}

.absolute {
  position: absolute !important;
}
.fixed {
  top: 1em !important;
  position: fixed !important;
}

.border-radius {
  border-radius: 3px;
}

.border-dash {
  border: 1px dashed #dddddd;
}

.border-solid {
  border: 1px solid #dddddd;
}

// 阴影
.shadow-1 {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}

.shadow-2 {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

//第一个参数为键值及键名 第二个为对象
@each $colorkey, $color in $colors {
  .text-#{$colorkey} {
    color: $color;
  }
  .bg-#{$colorkey} {
    background-color: $color;
  }
}

// text overflow
.text-ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.ellipsis-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

//鼠标样式
.point {
  cursor: pointer;
}
// shadow
// box-shadow:
@each $var in (left, right, bottom, right) {
}

//字体样式
@each $fontkey, $font in $fonts {
  .font-#{$fontkey} {
    font-family: $font;
  }
}

.font-bold {
  font-weight: 700;
}
// 悬浮
.hoverlink {
  &:hover {
    text-decoration: underline;
  }
}
.hoverbg {
  &:hover {
    background-color: #f0f0f0;
    border-radius: 4px;
  }
}

.bg-1 {
  background-color: #009a61;
  border-radius: 4px;
  color: white;
}

.bg-2 {
  background-color: #fcf8e3;
  color: #8a6d3b;
}

.bg-3 {
  background-color: rgba(1, 126, 102, 0.08);
  color: #017e66;
}
.bg-4 {
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  color: white;
}
//去阴影

.hover-1 {
  &:hover {
    opacity: 0.8 !important;
  }
}

.hover-2 {
  &:hover {
    background: rgba(0, 154, 97, 0.08);
    border-radius: 4px;
  }
}

.hover-3 {
  transition: 0.8s;
  &:hover {
    background-color: #009a61;
    color: white !important;
  }
}

.hover-4 {
  position: relative;
  text-decoration: none;
  transition: 0.5s;
  &:hover {
    // color: #95a5a6;
    &::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    top: 100%;
    left: 0;
    background: $color-primary;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  }
}

//遮罩
.hover-mask {
  &::content {
    content: '';
    width: 20px;
    height: 200px;

    background: linear-gradient(transparent 40%, rgba(0, 0, 0, 0.7));
  }
}

.visitlink {
  &:visited {
    color: #969696;
  }
}

// text align
//第一个参数为变量 第二个为集合
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var !important;
  }
}

@each $sizekey, $size in $font-sizes {
  .fs-#{$sizekey} {
    font-size: $size * $base-font-size;
  }
}

@each $sizekey, $size in $line-height {
  .lh-#{$sizekey} {
    line-height: $size * $base-line-height;
  }
}
// width heigh
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.h-80 {
  height: 100%;
}

.scroll-hide {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

// flex 布局
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.showoff {
  display: none;
}

.margin {
  margin: 0 auto;
}

@each $key, $value in $flex-jc {
  .jc-#{$key} {
    justify-content: $value;
  }
}

@each $key, $value in $flex-ai {
  .ai-#{$key} {
    align-items: $value;
  }
}

.flex-1 {
  flex: 1;
}
// 占满整个盒子
.flex-1 {
  flex-grow: 1;
}

// 三层循环嵌套
// m-0 ,mx-0
@each $typeKey, $type in $spacing-types {
  // .m-1{ margin:0.25rem}
  @each $sizekey, $size in $spacing-sizes {
    // .mt-1{ margin-top:0.25rem}
    .#{$typeKey}-#{$sizekey} {
      #{$type}: $size * $spacing-base-size;
    }
  }
  // .mx-1
  @each $sizekey, $size in $spacing-sizes {
    // .mt-1{ margin-top:0.25rem}
    .#{$typeKey}x-#{$sizekey} {
      #{$type}-left: $size * $spacing-base-size;
      #{$type}-right: $size * $spacing-base-size;
    }
  }
  // .my-1
  @each $sizekey, $size in $spacing-sizes {
    // .mt-1{ margin-top:0.25rem}
    .#{$typeKey}y-#{$sizekey} {
      #{$type}-top: $size * $spacing-base-size;
      #{$type}-bottom: $size * $spacing-base-size;
    }
  }

  @each $directionKey, $direction in $spacing-directions {
    @each $sizekey, $size in $spacing-sizes {
      // .mt-1{ margin-top:0.25rem}
      .#{$typeKey}#{$directionKey}-#{$sizekey} {
        #{$type}-#{$direction}: $size * $spacing-base-size;
      }
    }
  }
}

.btn {
  border: none;

  // font-size: map-get($font-sizes, "xll") * $base-font-size;
  background-color: transparent;
  &:hover,
  &:focus {
    color: #409eff;
    border-color: none;
    background-color: transparent;
  }
}

//borders
@each $dir in (top, right, bottom, left) {
  .border-#{$dir} {
    border-#{$dir}: 1px solid $border-color;
  }
}

.boder-x {
  border-left: 4.5px solid $color-primary;
  border-right: 4.5px solid $color-primary;
}

.el-popup-parent--hidden {
  padding-right: 0px !important;
}

a {
  text-decoration: none;
  color: black;
}

.te-preview {
  background-color: #f6f6f6;
}
