// 文章详情页样式
blockquote {
  margin: 1em 0;
  padding: 0 1em;
  color: #6c6a6a;
  border-left: 3px solid #cccccc;
  line-height: 25px;
  p {
    padding-left: 5px;
    @media (max-width: 36em) {
      padding-left: 15px;
    }
  }
}

.article li {
  cursor: text;
  list-style: unset;
  margin-left: 20px;
}

h1 {
  font-size: 1.8em !important;
  font-weight: 700 !important;
  word-break: break-word;
}

.hljs {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  padding: 0.5rem;
  max-height: 35rem;
  line-height: 1.7;
  background-color: #f6f6f6 !important;
  overflow: auto;
  ul {
    margin: 0;
    padding-left: 2.5em;
    max-height: 500px;

    li {
      list-style: decimal;

      padding: 5px !important;
      cursor: text;
      line-height: 14px;
      font-size: 14px;
      color: #333;
    }
  }
}

.hljs-comment,
.hljs-quote {
  color: unset !important;
  font-style: normal;
}

.article {
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.618em;
    padding-bottom: 0.618em;
    margin-bottom: 0.3em;
    font-weight: 400 !important;
  }
  h2 {
    font-family: inherit;
    margin-top: 1.618em;
    padding-bottom: 0.618em;
    margin-bottom: 0.3em;
    font-weight: 400 !important;
    border-bottom: 1px solid #e9ecef;
  }
  img {
    max-width: -webkit-fill-available;
    justify-content: center;

    display: flex;
    margin: 1.667em auto;
  }
  pre {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.article {
  a {
    text-decoration: none;
    color: #009a61;
    &:hover {
      opacity: 0.5;
    }
  }
  p {
    margin-bottom: 16px;
    code {
      color: #c7254e;
      padding: 3px 7px;
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
}

p code {
  font-family: 'EB Garamond';

  // background-color: #eeeeee;

  border-radius: 5px;

  padding: 0 0 3px 3px;

  margin: 0 3px;

  color: #e83e8c;
  font-size: 16px;
}

.active {
  color: #1abc9c;
  text-decoration: none;
  background-color: rgba(26, 186, 154, 0.05);
  border-left: 3px solid #1abc9c;

  a {
    color: #1abc9c;
    &::before {
      content: '#2';
    }
  }
}

nav li {
  a {
    display: block;
    padding: 0.15rem 1.75rem;
    font-size: 1rem;
    font-weight: 500;
    color: #212529;
    transition: all 0.25s ease 0ms;
    margin: 5px 0;

    &:hover {
      padding-left: 10px;
      color: #1abc9c;
      text-decoration: none;
      background-color: rgba(26, 186, 154, 0.05);
      // border-left: 2px solid #1abc9c;
    }
  }
}
.toc-h3 {
  display: none;
}
.active .toc-h3 {
  display: block !important;
  padding-left: 3em;
  font-size: 14px;
  &::before {
    content: '#3';
  }
}

// 表格样式
.article table {
  *border-collapse: collapse; /* IE7 and lower */
  border-spacing: 0;
  width: 100%;
  margin: 16px 0;
}
.article table {
  border: solid #ccc 1px;
}
.article table tr:hover {
  background: #fbf8e9;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.article table td,
.article .table th {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.article table th {
  background-color: #dce9f9;

  border-top: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  padding: 5px;
}

.article table td:first-child,
.article table th:first-child {
  border-left: none;
}
