// 标签页

.tag-list__itemWraper {
  @media (min-width: 768px) {
    flex-basis: 25%;
  }
}

.tagMask {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(-180deg, rgba(136, 136, 162, 0), rgba(22, 22, 22, 0.16));
}
