@import "./variables";
// reset
// 防止自己撑大
* {
  margin: 0;
  padding: 0;
  
}


//界面防抖
html, body {
  height:100%;

  -webkit-text-size-adjust: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
  :focus {
    outline: none;
}
}
// html{overflow-y:scroll;}


ul li {
  list-style-type: none;
  cursor: pointer;
}

//布局
.contanier {
  text-align: left;
}
.main {
  min-width: 730px;
  height: 100%;
  @media (min-width:730px) {
    width: auto;
  }
}
.leftside {
  width: 53%;
  height: 100%;
}
.sidebar {
  width: 100%;
  height: 100%;
}

code {
  font-family: Source Code Pro;
  font-size: 13.3px;
}

// 滑动



// 阴影
.shadow-1{
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
}

.shadow-2{
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
}

//第一个参数为键值及键名 第二个为对象
@each $colorkey, $color in $colors {
  .text-#{$colorkey} {
    color: $color;
  }
  .bg-#{$colorkey} {
    background-color: $color;
  }
}

// text overflow
.text-ellipsis{
  display:inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


//鼠标样式
.point{
  cursor: pointer;
}
// shadow
// box-shadow:
@each $var in (left,right,bottom,right) {

  
}

//字体样式
@each $fontkey,$font in $fonts {
  .font-#{$fontkey}{
    font-family: $font;
  }
  
}
// 悬浮
.hoverlink{
  &:hover{
    text-decoration: underline;

  }
 
}

.hoverbg{
  &:hover{
    background-color: #f0f0f0;
    border-radius: 4px;
  }
}

.visitlink{
  &:visited{
    color: #969696
  }
 
}

// text align
//第一个参数为变量 第二个为集合
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var !important;
  }
}

@each $sizekey, $size in $font-sizes {
  .fs-#{$sizekey} {
    font-size: $size * $base-font-size;
  }
}

@each $sizekey, $size in $line-height {
  .lh-#{$sizekey} {
    line-height: $size * $base-line-height;
  }
}
// width heigh
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.h-80 {
  height: 100%;
}

.scroll-hide{
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
}
}

// flex 布局
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.showoff{
  display: none;
}

.margin{
  margin: 0 auto;
}


@each $key, $value in $flex-jc {
  .jc-#{$key} {
    justify-content: $value;
  }
}

@each $key, $value in $flex-ai {
  .ai-#{$key} {
    align-items: $value;
  }
}

.flex-1 {
  flex: 1;
}
// 占满整个盒子
.flex-1 {
  flex-grow: 1;
}

// 三层循环嵌套
// m-0 ,mx-0
@each $typeKey, $type in $spacing-types {
  // .m-1{ margin:0.25rem}
  @each $sizekey, $size in $spacing-sizes {
    // .mt-1{ margin-top:0.25rem}
    .#{$typeKey}-#{$sizekey} {
      #{$type}: $size * $spacing-base-size;
    }
  }
  // .mx-1
  @each $sizekey, $size in $spacing-sizes {
    // .mt-1{ margin-top:0.25rem}
    .#{$typeKey}x-#{$sizekey} {
      #{$type}-left: $size * $spacing-base-size;
      #{$type}-right: $size * $spacing-base-size;
    }
  }
  // .my-1
  @each $sizekey, $size in $spacing-sizes {
    // .mt-1{ margin-top:0.25rem}
    .#{$typeKey}y-#{$sizekey} {
      #{$type}-top: $size * $spacing-base-size;
      #{$type}-bottom: $size * $spacing-base-size;
    }
  }

  @each $directionKey, $direction in $spacing-directions {
    @each $sizekey, $size in $spacing-sizes {
      // .mt-1{ margin-top:0.25rem}
      .#{$typeKey}#{$directionKey}-#{$sizekey} {
        #{$type}-#{$direction}: $size * $spacing-base-size;
      }
    }
  }
}

.btn {
  border: none;
  
  // font-size: map-get($font-sizes, "xll") * $base-font-size;
  background-color: transparent;
  &:hover,&:focus{
    color:#409EFF;
    border-color: none;
    background-color: transparent;
  }

  
}



//borders
@each $dir in (top,right,bottom,left) {
  .border-#{$dir}{
    border-#{$dir}:1px solid $border-color;
  }
}